
services:
  db:
    image: postgres:15-alpine
    container_name: library_db_container
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: library_api_container
    restart: always
    ports:
      - "${PORT}:3000"
    volumes:
      - .:/app
      - /app/node_modules
    command: yarn nest start --watch
    environment:
      ENV: ${ENV}
      PORT: 3000
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_PORT: ${DB_PORT}
      JWT_KEY: ${JWT_KEY}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
    depends_on:
      - db


volumes:
  postgres_data:

